.card {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 32px 40px 40px;
    background: $surface-color;
    border: 2px solid $surface-color;
    border-radius: 8px;
    transform: rotate(-1deg);
    box-shadow: $card--shadow;
    transition: all .2s ease-out;

    &>* {
        flex: 0;
    }

    &>p {
        flex: 1;
    }

    &:hover {
        border-color: rgba($brand-color, .5);
        transform: rotate(0);
        text-decoration: none;
        scale: 1.035;
        box-shadow: $card--shadow-raised;
    }
}

.card--meta {
    padding-block-end: 16px;
    font-family: $caption-font-family;
    font-weight: $caption-font-weight;
    font-size: $caption-font-size;
    color: $text-color;
}

.card--content {
    @include relative-font-size(1.4);
    font-weight: normal;
    color: $text-color;
}

.card--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    grid-auto-flow: dense;
    margin-block-end: 40px;

    .card {

        &:first-child {
            grid-row-end: span 2;
        }

        &:nth-child(5) {
            grid-column-end: span 2;
        }

        &:nth-child(9) {
            grid-column-end: span 2;
        }

        &:nth-child(3n) {
            transform: rotate(1deg);
        }

        &:nth-child(5n) {
            transform: rotate(0);
        }
    }
}

.card--list {
    display: flex;
    flex-direction: column;
    gap: $spacing-unit;
    .card {
        // margin-block-start: -$spacing-unit*2;
        padding: $spacing-unit;
        &:first-child {
            margin-block-start: 0;
        }
        &:hover {
            z-index: 10;
        }
    }
}

@include media-query($on-desktop) {
    .card--grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include media-query($on-laptop) {
    .card--grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@include media-query($on-palm) {

    .card--grid {
        display: block;

        .card {
            margin-block-end: 40px;
        }
    }
}