/**
 * CV Column layout
 */

 article.cv {
  display: grid;
  column-gap: $spacing-unit * 2;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 
      [row1-start] auto 
      [row1-end row2-start] auto 
      [row2-end row3-start] 1fr 
      [row3-end row4-start];
  grid-template-areas:
      'header experience skills'
      'profile experience skills'
      'profile experience tools';
  
  .cv--header { grid-area: header; }
  .cv--profile { grid-area: profile; }
  .cv--skills { grid-area: skills; }
  .cv--tools { grid-area: tools; }

  .cv--header,
  .cv--profile,
  .cv--skills,
  .cv--tools {
      padding-bottom: $spacing-unit;
  }

  .cv--skills,
  .cv--tools {
    ul {
      list-style: none;
      margin: 0;
    }
    li {
      padding: $spacing-unit/2 0;
    }
  }

  .cv--experience {
      grid-area: experience;
  }
}

@include media-query($on-desktop) {
  article.cv {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 
        [row1-start] auto 
        [row1-end row2-start] auto 
        [row2-end row3-start] auto
        [row3-end row4-start] 1fr;
    grid-template-areas:
        'header experience'
        'profile experience'
        'skills experience'
        'tools experience';
  }
}

@include media-query($on-laptop) {
  article.cv {
    grid-template-columns: 1fr;
      grid-template-areas:
          'header'
          'profile'
          'skills'
          'tools'
          'experience';
  }
}

/* ------------------- */
.job--summary {
  padding: 0;
  // line-height: 3.2rem;
  border-top: 4px solid var(--color-gray-04);
  transform: all ease-in 1s;

  &:first-of-type {
    padding-top: $spacing-unit;
    border: none;
  }

  &:focus {
    outline: none;
  }

  &[open] > .job--title::after {
    content: '-';
    grid-area: marker;
    color: var(--color-gray-03);
  }
}

.job--title {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 5fr 2fr auto;
  grid-template-areas:
    "role role marker"
    "company company duration";
  padding: $spacing-unit 0;
  cursor: pointer;

  &::after {
    content: '+';
    grid-area: marker;
    padding: 0 $spacing-unit/3;
    @include relative-font-size(2.4);
    font-weight: bold;
    text-align: right;
    color: var(--color-gray-03);
  }

  h3 { 
    grid-area: role;
    margin: 0;
  }

  h4 { 
    grid-area: company; 
    margin: 0;
    font-weight: normal;
  }

  h5 { 
    grid-area: duration; 
    margin: 0;
    font-weight: normal;
  }

  &:hover {
    color: $brand-color !important;
    &::after {
      color: $brand-color !important;
    }
  }

  @include media-query($on-palm) {
    grid-template-areas:
      "role role role marker"
      "company company duration marker";
  }
}

.job--details {
  padding: $spacing-unit 0 $spacing-unit * 3;
  border-top: 1px solid var(--color-gray-04);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li:not(:last-child) {
    padding: 0 0 $spacing-unit/2;
  }
}

/* ------------------- */
@include media-query($on-desktop) {

  html {
    font-size: 62.5%;
  }

  body {
    top: -5.6rem;
  }

  header h1 {
    font-size: 12rem;
    line-height: 12rem;
  }

  .career-highlights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem 1.6rem;
  }

  .career-highlights--stat {
    text-align: center;
  }

  .job--summary::-webkit-details-marker {
    color: transparent;
    font-size: 0;
  }
}