/**
 * CV Column layout
 */

 article.cv {
  display: grid;
  column-gap: $spacing-unit * 2;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 
      [row1-start] auto 
      [row1-end row2-start] auto 
      [row2-end row3-start] 1fr 
      [row3-end row4-start];
  grid-template-areas:
      'header experience skills'
      'profile experience skills'
      'profile experience tools';
  
  .cv--header { grid-area: header; }
  .cv--profile { grid-area: profile; }
  .cv--skills { grid-area: skills; }
  .cv--tools { grid-area: tools; }

  .cv--header,
  .cv--profile,
  .cv--skills,
  .cv--tools {
      padding-bottom: $spacing-unit;
  }

  .cv--skills,
  .cv--tools {
    ul {
      list-style: none;
      margin: 0;
    }
    li {
      padding: $spacing-unit/2 0;
    }
  }

  .cv--experience {
      grid-area: experience;
  }
}

@include media-query($on-desktop) {
  article.cv {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 
        [row1-start] auto 
        [row1-end row2-start] auto 
        [row2-end row3-start] auto
        [row3-end row4-start] 1fr;
    grid-template-areas:
        'header experience'
        'profile experience'
        'skills experience'
        'tools experience';
  }
}

@include media-query($on-laptop) {
  article.cv {
    grid-template-columns: 1fr;
      grid-template-areas:
          'header'
          'profile'
          'skills'
          'tools'
          'experience';
  }
}

/* ------------------- */
.job--summary {
  padding: 0;
  // line-height: 3.2rem;
  border-top: 4px solid var(--color-gray-04);
  transform: all ease-in 1s;

  &:first-of-type {
    padding-top: $spacing-unit;
    border: none;
  }

  &:focus {
    outline: none;
  }

  &[open] > .job--title::after {
    content: '-';
    grid-area: marker;
    color: var(--color-gray-03);
  }
}

.job--title {
  // font-size: 1.2rem;
  // outline: 1px dashed magenta;
  display: grid;
  justify-content: stretch;
  grid-template-columns: 5fr 2fr auto;
  grid-template-areas:
    "role role marker"
    "company company duration";
  padding: $spacing-unit 0;
  cursor: pointer;

  &::after {
    content: '+';
    grid-area: marker;
    padding: 0 $spacing-unit/3;
    @include relative-font-size(2.4);
    font-weight: bold;
    text-align: right;
    color: var(--color-gray-03);
  }

  h3 { 
    grid-area: role;
    margin: 0;
  }

  h4 { 
    grid-area: company; 
    margin: 0;
    font-weight: normal;
  }

  h5 { 
    grid-area: duration; 
    margin: 0;
    font-weight: normal;
  }

  &:hover h3 {
    color: $brand-color;
  }
}

.job--details {
  padding: $spacing-unit 0 $spacing-unit * 3;
  border-top: 1px solid var(--color-gray-04);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li:not(:last-child) {
    padding: 0 0 $spacing-unit/2;
  }
}

/* ------------------- */
@media (min-width: 960px) {

  /* line 169, src/sass/main.scss */
  html {
    font-size: 62.5%;
  }

  /* line 172, src/sass/main.scss */
  body {
    top: -5.6rem;
  }

  /* line 175, src/sass/main.scss */
  // header,
  // article {
  //   width: 92rem;
  // }
  /* line 179, src/sass/main.scss */
  header h1 {
    font-size: 12rem;
    line-height: 12rem;
  }

  /* line 183, src/sass/main.scss */
  .career-highlights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem 1.6rem;
  }

  /* line 188, src/sass/main.scss */
  .career-highlights--stat {
    text-align: center;
  }

  /* line 191, src/sass/main.scss */
  .job {
    list-style: none;
  }

  /* line 194, src/sass/main.scss */
  .job--summary {
    // display: grid;
    // grid-template-columns: 1fr 3fr;
    // gap: 0 1.6rem;
    // padding: 3.2rem 0;
    // list-style: none;
  }

  /* line 201, src/sass/main.scss */
  .job--summary::-webkit-details-marker {
    color: transparent;
    font-size: 0;
  }

  /* line 203, src/sass/main.scss */
  .job--summary h3 {
    //   grid-row: 1 / 4;
    //   display: -webkit-box;
    //   display: -ms-flexbox;
    //   display: flex;
    //   -webkit-box-orient: vertical;
    //   -webkit-box-direction: normal;
    //       -ms-flex-direction: column;
    //           flex-direction: column;
    //   -webkit-box-pack: center;
    //       -ms-flex-pack: center;
    //           justify-content: center;
    //   margin: 0;
    //   padding: 1.6rem;
    //   font: 1.6rem/2.4rem var(--font-family-head);
    //   font-variant-numeric: lining-nums;
    //   background: var(--color-gray-05);
    //   border: 0.1rem solid var(--color-gray-05);
    //   border-radius: .8rem;
  }

  /* line 216, src/sass/main.scss */
  // .job--summary:hover > h3 {
  //   border-color: var(--color-gray-03);
  // }
  /* line 219, src/sass/main.scss */
  .job--summary h4 {
    // grid-column: 2 / 3;
    // grid-row: 1 / 1;
    // margin: 0;
  }

  /* line 224, src/sass/main.scss */
  .job--summary h5 {
    // grid-column: 2 / 3;
    // grid-row: 2 / 2;
    // margin: 0;
  }

  /* line 229, src/sass/main.scss */
  .job--detail {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-gap: 1.6rem;
    // padding: 0 0 3.2rem;
  }

  /* line 235, src/sass/main.scss */
  .job--detail .responsibilities {
    // grid-column: 1 / 3;
  }
}

@media (min-width: 1440px) {

  /* line 241, src/sass/main.scss */
  header,
  article {
    // width: 140rem;
  }

  /* line 246, src/sass/main.scss */
  .page--cv {
    // display: grid;
    // grid-template-columns: 1fr 2fr;
    // gap: 0 3.2rem;
  }

  /* line 252, src/sass/main.scss */
  .page--cv--timeline {
    // grid-column: 2 / 2;
    // grid-row: 1 / 4;
  }

  /* line 257, src/sass/main.scss */
  .career-highlights {
    display: block;
  }
}