.social-media-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    a span {
        display: none;
    }

    .svg-icon {
        display: block;
        width: 32px;
        height: 32px;
        // display: inline-block;
        fill: #{$grey-color};
        // padding-right: 5px;
        // vertical-align: middle;
        // scale: 2;
    }

    a:hover .svg-icon {
        fill: #{$grey-color-dark};
    }
}