/**
 * Site header
 */
.site-header {
  position: relative;
  padding: 64px 0 24px;
  background: $grey-color-light;
  overflow-x: hidden;
}

.site-title {
  position: absolute;
  top: -25%;
  font-family: $heading-font-family;
  font-weight: $siteTitle-font-weight;
  @include relative-font-size(8.4);
  line-height: 1em;
  letter-spacing: -4px;
  text-transform: uppercase;
  opacity: 0.4;

  &,
  &:visited {
    color: $text-color;
  }
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

.site-nav {
  @include relative-font-size(1.6);
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .trigger {
    display: flex;
    gap: 2px;
  }

  .page-link {
    display: block;
    padding: 4px 8px;
    color: $text-color;
    line-height: $base-line-height;
    border-radius: 4px;

    // Gaps between nav items, but not on the last one
    &:hover {
      text-decoration: none;
      color: invert($color: $text-color);
      background-color: $text-color;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 8px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 4px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 8px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 4px;
    }

    .page-link {
      display: block;
      padding: 4px 8px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 24px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  background-color: $grey-color-light;
}

.footer-heading {
  @include relative-font-size(1.6);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(1.2);
  // color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  @include relative-font-size(1.8);
  padding: $spacing-unit*2 0;
  flex: 1;
  h1,h2,h3,h4 {
    font-family: $heading-font-family;
  }
}

.page-heading {
  @include relative-font-size(4.2);
}

.post-list-heading {
  @include relative-font-size(2.8);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit * 2;
    font-size: $small-font-size;
    a {
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $text-color;
  text-transform: uppercase;
}

.post-link {
  display: block;
  @include relative-font-size(2.4);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(3.6);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(3.6);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(2.4);

    @include media-query($on-laptop) {
      @include relative-font-size(1.6);
    }
  }

  h4 {
    @include relative-font-size(1.8);

    @include media-query($on-laptop) {
      @include relative-font-size(1.4);
    }
  }
}
