/**
 * Site header
 */
.site-header {
    position: relative;
    padding: 24px 0;
    background: $grey-color-light;
    // overflow-x: hidden;
}


.home .site-header {
    padding-bottom: 64px;
}

.site-title {
    position: absolute;
    font-family: $siteTitle-font-family;
    font-weight: $siteTitle-font-weight;
    top: -30px;
    @include relative-font-size(8.4);
    line-height: 1em;
    letter-spacing: -4px;
    text-transform: uppercase;
    opacity: 0.4;
    border: 0;

    &,
    &:visited {
        color: $text-color;
    }

    &:hover {
        text-decoration: none;
        opacity: 0.8;
    }
}

.site-nav {
    @include relative-font-size(1.6);
    line-height: $base-line-height * $base-font-size * 2.25;

    .nav-trigger {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .trigger {
        display: flex;
        justify-content: end;
        gap: 2px;
    }

    .page-link {
        display: block;
        padding: 4px 8px;
        color: $text-color;
        line-height: $base-line-height;
        border: 0;
        border-radius: 4px;

        // Gaps between nav items, but not on the last one
        &:hover {
            text-decoration: none;
            color: invert($color: $text-color);
            background-color: $text-color;
        }
    }

    @include media-query($on-desktop) {
        .trigger {
            justify-content: start;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 8px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 4px;
        text-align: right;

        label[for="nav-trigger"] {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 8px;
            text-align: center;

            >svg {
                fill: $grey-color-dark;
            }
        }

        input~.trigger {
            clear: both;
            display: none;
        }

        input:checked~.trigger {
            display: block;
            padding-bottom: 4px;
        }

        .page-link {
            display: block;
            padding: 4px 8px;

            &:not(:last-child) {
                margin-right: 0;
            }

            margin-left: 24px;
        }
    }
}

@include media-query($on-desktop) {
    .site-header {
        padding: 64px 0 24px;
    }
}

@include media-query($on-palm) {
    .site-title {
        top: 10%;
        @include relative-font-size(4.8);
    }
}