/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    background-color: $grey-color-light;

    .wrapper {
        display: grid;
        grid-template:
            'author social social'
            'desc desc desc';
        @include relative-font-size(1.2);
    }

    .footer__author {
        grid-area: author;
    }

    .footer__socials {
        grid-area: social;
    }

    .footer__site-desc {
        grid-area: desc;
    }

    .contact-list,
    .social-media-list {
        list-style: none;
        margin-left: 0;
    }


    .social-media-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 24px;

        a span {
            display: none;
        }

        .svg-icon {
            display: block;
            width: 24px;
            height: 24px;
            fill: #{$grey-color};
        }

        a:hover .svg-icon {
            fill: #{$brand-color};
            scale: 1.2;
        }
    }
}

@include media-query($on-laptop) {}

@include media-query($on-palm) {
    .site-footer {
        .wrapper {
            grid-template:
                'author'
                'social'
                'desc'
        }
        .social-media-list {
            justify-content: flex-start;
        }
    }
}