$postit-shadow: 4px 4px 16px rgba(0,0,0, 0.12);
$postit-shadow-raised: 8px 8px 24px rgba(0,0,0,0.08);
$postit-shadow: 4px 4px 4px rgba(0,0,0, 0.48);
$postit-shadow-raised: 4px 4px 8px rgba(0,0,0,0.24);


.home-content {
    margin-block-start: -48px;
    header {
        display: flex;
        flex-direction: row-reverse;
        gap: 16px;
        justify-content: space-between;
        align-items: center;
        .intro {
            flex: 3;
            position: relative;
            top: -40px;
            // right: -64px;
            max-width: 640px;
            margin-left: 64px;
            padding: 32px 40px;
            background: $surface-color;
            border-radius: 16px;
            border-block-end: 1px solid $grey-color-dark;
            transform: rotate(1.5deg);
            h1 {
                @include relative-font-size(2.4);
                line-height: 3.2rem;
            }
            h3 {
                text-align: right;
            }
        }
    }
    .page-heading {
        flex: 2;
        line-height: 1em;
    }
    .post-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        grid-auto-flow: dense;
        margin-block-end: 40px;
        li {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 32px 40px 40px;
            background: $surface-color;
            border: 2px solid $surface-color;
            border-radius: 8px;
            transform: rotate(-1deg);
            box-shadow: $postit-shadow;
            transition: all .2s ease-out;
            & > * {
                flex: 0;
            }
            & > p {
                flex: 1;
            }
            &:first-child   { grid-row-end: span 2; }
            &:nth-child(5)  { grid-column-end: span 2; }
            &:nth-child(9)  { grid-column-end: span 2; }
            &:nth-child(3n) { transform: rotate(1deg); }
            &:nth-child(5n) { transform: rotate(0); }
            &:hover {
                border-color: rgba($brand-color, .5);
                transform: rotate(0);
                scale: 1.035;
                box-shadow: $postit-shadow-raised;
            }
        }
    }
    @include media-query($on-desktop){
        .post-list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @include media-query($on-laptop){
        .post-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @include media-query($on-palm) {
        header {
            display: block;
            .intro {
                top: -64px;
                right: 0;
                margin: 0;
                transform: scale(0.8) rotate(1.5deg);
            }
        }
        .post-list {
            display: block;
            li {
                margin-block-end: 40px;
            }
        }
    }
}

.post-meta {
    padding-block-end: 16px;
    font-family: $caption-font-family;
    font-weight: $caption-font-weight;
    font-size: $caption-font-size;
}