<footer class="site-footer">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer__author">
      <ul class="contact-list">
        <li class="p-name">
          {%- if site.author -%}
          {{ site.author | escape }}
          {%- else -%}
          {{ site.title | escape }}
          {%- endif -%}
        </li>
        {%- if site.email -%}
        <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {%- endif -%}
      </ul>
    </div>

    <div class="footer__socials">
      {%- include social.html -%}
    </div>

    <div class="footer__site-desc">
      <p>{{- site.description | escape -}}</p>
    </div>

  </div>

</footer>