@charset "utf-8";

// Based on Minima theme

// Define defaults for each variable.

$base-font-family: Raleway, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   10px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;
$small-font-size:  $base-font-size * 1.4 !default;

// $heading-font-family: Montserrat, "sans-serif";
$heading-font-family: Bitter, "sans-serif";
$heading-font-weight: 900;

$caption-font-family: "Shadows Into Light Two", "Rock Salt", serif;
// $caption-font-family: Lato, serif;
$caption-font-weight: 400;
$caption-font-size: $base-font-size * 1.2 !default;

// $siteTitle-font-family: Montserrat, "sans-serif";
$siteTitle-font-family: Bitter, "sans-serif";
$siteTitle-font-weight: 900;

$spacing-unit:     24px !default;

$color--gray-01: #333;
$color--gray-02: #666;
$color--gray-03: #999;
$color--gray-04: #CCC;
$color--gray-05: #DDD;
$color--gray-06: #EEE;
$color--gray-07: #FFF;

$color--green-01: green;
$color--green-02: green;
$color--green-03: green;
$color--green-04: green;
$color--green-05: green;
$color--green-06: green;
$color--green-07: green;

$grey-color:       $color--gray-02 !default;
$grey-color-light: $color--gray-04 !default;
$grey-color-dark:  $color--gray-01 !default;

$text-color:       $color--gray-01 !default;
$background-color: $color--gray-06 !default;
$surface-color:    $color--gray-07 !default;
$brand-color:      $color--green-04 !default;


$table-text-align: left !default;

// Cards
// $card--shadow: 4px 4px 16px rgba(0, 0, 0, 0.12);
// $card--shadow-raised: 8px 8px 24px rgba(0, 0, 0, 0.08);
$card--shadow: 
  2px 2px 4px rgba($color--gray-01, 0.48),
  4px 4px 8px rgba($color--gray-01,0.24);
$card--shadow-raised: 4px 4px 8px rgba($color--gray-01, 0.24);


// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-desktop:       1200px !default;
$on-desktop-large: 1600px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

:root {
  --color-gray-01: #333;
  --color-gray-02: #555;
  --color-gray-03: #999;
  --color-gray-04: #CCC;
  --color-gray-05: #DDD;
  --color-gray-06: #EEE;
  --color-gray-07: #FFF;
}

// Import partials.
@import
  "custom/base",
  "custom/site-header",
  "custom/site-footer",
  "custom/page-content",
  "custom/card",
  "custom/posts",
  "custom/home",
  "custom/cv",
  "custom/syntax-highlighting"
;
