@charset "utf-8";

// Based on Minima theme

// Define defaults for each variable.

$base-font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   10px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 1.4 !default;
$base-line-height: 1.5 !default;

$heading-font-family: Montserrat, "sans-serif";
$heading-font-weight: 900;

$caption-font-family: "Shadows Into Light Two", "Rock Salt", serif;
// $caption-font-family: Lato, serif;
$caption-font-weight: 400;
$caption-font-size: $base-font-size * 1.2 !default;

$siteTitle-font-family: Chivo, "sans-serif";
$siteTitle-font-weight: 900;

$spacing-unit:     24px !default;

$text-color:       #000000CC !default;
$background-color: #eee !default;
$surface-color:    #fff !default;
$brand-color:      green !default;

$grey-color:       #00000033 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "custom/base",
  "custom/layout",
  "custom/special-bits",
  "custom/cv",
  "custom/syntax-highlighting"
;
