---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{content}}

{% for collection in site.collections %}
  {% if collection.label != page.this-collection %}
    {% continue %}
  {% endif %}
  <ul class="post-list">
    {% for item in site[collection.label] %}
      <li>
        <h3>
          <a class="post-link" href="{{ item.url | relative_url }}">
            {{ item.title | escape }}
          </a>
        </h3>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">
          {{ item.date | date: date_format }}&nbsp;
          {%- if item.tags -%}
            {%- for tag in item.tags -%}
              &bull; <span>{{ tag }}</span>&nbsp;
            {%- endfor -%}
          {%- endif -%}
        </span>
        {%- if site.show_excerpts -%}
          {{ item.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
{% endfor %}